target/
target-eclipse/
.settings/
.classpath
.project
.idea/workspace.xml
*.db
web-app/plugins/
*.log

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.jdt.groovy.core.prefs

.classpath
