.offlineContributionModal .margin {
    margin-bottom : 20px;
}
.offlineContributionModal .heading {
    font-weight: 600 !important;
}
.offlineContributionModal .text {
    font-weight: 500 !important;
    font-size: 14px !important;
}
.offlineContributionModal .text-paragraph {
    font-weight: 500 !important;
    font-size: 13px !important;
}
.offlineContributionModal >input {
    border-radius: 3px;
}
#errormsg1{
    color: red;
}
.contribution-seperator {
    padding: 1px 28px !important;
}
.managecontribution {
    margin-top : 6px;
}
.commentsoncampaign .tile-footer {
    background-color: #f5f5f5 !important;
}
.alert {
    margin-bottom: 10px !important;
}
.contributioninput {
    border-radius: 3px;
}

.editAndDeleteBtn {
	margin-top: 12px;
}
.offlinecontributionbtn {
	margin-bottom: 10px !important;
}

.tilepadding .col-md-6, .tilepadding .col-sm-6, .tilepadding .col-xs-6 , .tilepadding .col-md-5, .tilepadding .col-sm-5, .tilepadding .col-xs-5 {
    position: relative !important;
    min-height: 1px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.categoryList .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.contributionerrormsg{
    color: red;
}
.reward-tile.panel-primary {
    border-color: #A8A8A8 ;
}
.reward-tile .panel-footer {
    border-top: 1px solid #A8A8A8;
}
.sortscamp .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 144px;
    margin-left: 93px;
}

.attachmentsLink {
    margin-top: 20px;
    margin-bottom:20px;
}
.attachment-group .col-xs-12, .attachment-group .col-sm-4, .attachment-group .col-md-4 {
    padding-left: 1px !important;
}
.attachment-div {
	background-color: #F0F0F0;
	margin-bottom: 5px;
}
.hrClass{
    margin-top:4px;
    margin-bottom:-7px !important;
}
.hrClasses{
    margin-top:4px;
    margin-bottom:12px !important;
}
ul.personalDetailClass, menu, dir {
    display:inline !important;
}
.personalDetailClass > li{
    margin-left:30px;
    list-style-type: none;
}
ul.personalDetailClasses, menu, dir {
    display:table !important;
}
.personalDetailClasses > li{
    margin-left:-10px ;
    list-style-type: none;
}
.outertext {
	font-size: 16px;
	display: inline-block;
    font-weight: normal;
    margin-top: 5px;
}
.innertext {
	font-size: 14px;
	display: inline-block;
    font-weight: normal;
    margin-top: 5px;
}
.campaignStory {
	margin-top: 20px;
	margin-bottom: 20px;
}
.campaignDescription {
	margin-top: 25px;
	margin-bottom: 25px;
	font-weight: 600;
	font-size: 20px;
	word-wrap: break-word;
}
p {
        word-wrap: break-word;
}
.rewardleftmargin {
	margin-left: 35px;
}

.fixCarousel{
    margin: 209px 24px 279px 23px;
}
/*Campaign detail page carousel */
@media only screen and (min-width: 320px) and (max-width: 479px){
    #carousel-example-generic {
        height: 200px !important;
    }
    .fixCarousel{
        margin-bottom: 166px !important;
        margin-top: 84px !important;
    }
}
.rewardsection-row:hover {
	background-color: #fff;
    border-color: #01bbd2 !important;
    border: 1px solid #01bbd2;
}
.rewardsection a:hover, .rewardsection a:active {
    text-decoration: none !important;
}
.rewarddiv {
	padding-bottom:15px;
	padding-top:15px;
	border: 2px solid #fff;
}
.perkSupporter {
	color: #505050;
	font-size:18px;
}
.resume-urls {
    padding-top: 20px;
}
.font-lab label {
  font-size: 13px;
}
.btn-modal{
    color: #ffffff;
    background-color: #333;
    border-color: #333;
}
.btn-modal:hover,
.btn-modal:focus,
.btn-modal.focus,
.btn-modal:active,
.btn-modal.active{
    color: #ffffff;
    background-color: #333;
    border-color: #333;
}
.helpdesk {
	
}
.contact-details .contact-details-heading{
    margin-top: 47px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0px 0px 0 0px;
}
.contact-details .col-sm-4, .contact-details .col-sm-8{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.contact-details-body {
    padding: 0px 0px 0 0px;
}
/* .modal-header { */
/*     padding: 9px 0px 0 0px !important; */
/* } */
/* .modal-body { */
/*     padding: 15px 0px 0 0px !important; */
/* } */

.contactUs {
    width: 1000px;
    margin: 0 auto;
}

.commentsoncampaign dd {
	font-size: 13px;
	font-family: "Open Sans";
}

.commentsoncampaign dt {
	font-size: 14px;
	font-family: "Open Sans";
}

.whycrowderacol-md-2 .col-md-2, .whycrowderacol-md-12 .col-md-12, .whycrowderacol-sm .col-xs-12, .whycrowderacol-sm .col-xs-3{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.whycrowderacol-md-2 .col-md-10 {
    padding-right: 0px !important;
}

/* Customer Support Section */
.customer-support-btn {
	position: fixed;
    right: -2px;
    top: 360px;
    
    display: block !important;
    width: 0px;
    height: 0px;
    z-index: 90000;
    margin: 0px;
    outline: 0px none !important;
}

a.customer-support-a {
    transform: rotate(-90deg);
    transform-origin: left bottom 0px;
    
    color: #FFF;
    background-color: #5A5A5A;
    border-color: #FFF;
    
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(0, 0, 0, 0.08) inset, 0px 2px 0px rgba(255, 255, 255, 0.7) inset, 0px -9px 29px rgba(0, 0, 0, 0.1) inset;
   
    position: fixed;
    white-space: nowrap;
    
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none !important;
    font-weight: bold;
}

.customer-support-btn a:active, .customer-support-btn a:hover {
    color: #FFF !important;
    background-color: #5A5A5A !important;
    border-color: #FFF !important;
}

.customer-support{
	z-index: 1;
	position: absolute;
}
.support {
    width: 400px;
    height: 500px;
    position:fixed;
    background-color: white;
    border: 2px solid;
    border-color: #005f84;
    right:0px;
    top: 125px;
    margin-right: -400px;
    overflow: scroll;
}
.offline-contribution {
	font-size: 10px;
	padding-top: 5px;
}
.img-contribution {
	padding-top: 15px;
}
.edit-delete-fund {
    padding-top: 11px;
}
.offline-contribution-pans .col-sm-8, .offline-contribution-pans .col-xs-8, .offline-contribution-pans .col-sm-4, .offline-contribution-pans .col-xs-4 {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.edit-delete-fund .close {
    margin-left: 8px !important;
}
.offline-edit-delete-btn {
    margin-top: -12px;
}
.offline-edit-delete-btn i {
    font-size: 15px;
}
.contributionPaginate {
	margin-top: 30px;
	padding-left: 10px;
	margin-bottom: 15px;
}
.contributionPaginate a , .contributionPaginate .currentStep {
	font-size: 13px;
	text-align: center;
	padding-left: 15px;
	color: #31497B !important;
	font-weight: 700 !important;
}
.contributionPaginate .currentStep {
	color: black !important;
}
.showmoreteams a {
	text-decoration: none;
	color: #31497B !important;
	font-weight: 700 !important;
}
.showmoreteams .btn:active, .showmoreteams .btn:hover {
	text-decoration: none;
	background-color: #31497B !important;
	border-color: #31497B !important;
	font-weight: 700 !important;
}
.showteambtn {
	width: 195px;
}
.showmoreteams.col-md-4 , .showmoreteams.col-md-3{
	padding-left: 0px !important;
	margin-bottom: 15px;
}
.campaignamount .fa-inr , .campaignamount .fa-usd{
	font-size: 20px;
}
.campaignamount .input-group-addon, .campaignamount .input-group-btn .btn {
    padding: 6px 14px !important;
}
#payuemail .col-sm-2, #payuemail .col-sm-4 {
	padding-left: 0px !important;
}
#payuemail .control-label {
	padding-right: 32px !important;
}
.tile-goal .fa-inr {
    font-size: 20px !important;
}
.show-contribution-amt-tile .fa-inr{
    font-size: large !important;
}
.teamtile .fa-inr {
    font-size: large !important;
}
.rewardsection .fa-inr{
    font-size: large !important;
    color: #686868 !important;
    padding-right: 2px;
}
.contribution-inr .fa-inr {
    font-size: large !important;
    color: #686868 !important;
    padding-right: 2px;
}
.tile-goal-show .fa-inr {
    font-size: 20px !important;
    color: #686868 !important;
    padding-right: 2px;
}
.fund-inr .fa-inr {
    font-size: 17px !important;
    padding-right: 2px;
}
.payu-inr .fa-inr {
    font-size: 24px !important;
    color: #686868 !important;
    padding-right: 2px;
}
.mycontribution.fa-inr {
    font-size: 18px !important;
    padding-right: 2px;
}
.managcampaign-rewardtile .fa-inr {
    padding-right: 2px;
}
.search-icon-header img {
    position: absolute;
    padding-left: 5px;
    padding-top: 7px;
    display: inline-block;
}
.search-image-header {
    padding-right: 40px;
}
.search-box {
    width: 0px;
}

#storyRequired{
    display:none;
    color: #f04124;
    font-size: 12px;
    font-weight: normal;
}

#logomsg{
    display:none;
}

#campaignfilesize{
    display:none;
}

#iconfilesize{
    display:none;
}

#imgmsg{
    display:none;
}

#charitableId{
    display:none;
}

#icondiv{
    display:none;
}

#txtState{
    display:none;
}

#val2{
    display:none;
}

#paypalcheckbox{
    display:none;
}

#updatereward{
    display:none;
}

#updatefilesize{
    display:none;
}

#campaignfilesize{
    display:none;
}

#iconfilesize{
    display:none;
}

#imgupdatemsg{
    display:none;
}

#ytVideo{
    display:none;
}

#editimg{
    display:none;
}

#editlogo{
    display:none;
}

#campaignUpdatefilesize{
    display:none;
}

#editUpdateimg{
    display:none;
}

.back-link{
    color: #006083 !important;
}

.customText{
    color: #333333;
    background-color: #e7e7e7;
    height:73px;
}

.customText::-webkit-input-placeholder{
    color:#333333;
    padding-left:35%;
}

div.lblIcon {
  padding-top: 100px;
}

#addVideo .modal-dialog .modal-content{
    height:325px;
}

#addVideo .modal-dialog .modal-content .modal-body{
    padding-top: 15%;
}

.video-modal{
    background-color: #46b8da ;
    color:white;
}
#media-video {
    display: none;
}

#media a{
	text-decoration: none;
	color:black;
}

.videoUrledit.close {
    margin-left: 15px;
  /* margin-bottom: 142px; */
  padding-top: -15px;
  margin-top: -6px;
}
.redirectCampaign a {
    text-decoration: none !important;	
}
.redirectUrl a {
    display: none;
}
.shippingreward .checkbox-inline + .checkbox-inline {
	margin-left: 0px !important;
}
.shippingreward .btn-sm {
  padding: 10px 16px !important;
}
.shippingreward #custombox {
    color: #333 !important;
    display: inline-block;
}

.editShippingreward .checkbox-inline + .checkbox-inline {
	margin-left: 0px !important;
}
.editShippingreward .btn-sm {
  padding: 10px 16px !important;
}
.editShippingreward #custombox {
    color: #333 !important;
    display: inline-block;
}
.editShippingreward >.btn-primary {
  width: 116px !important;
}

div.break-div{
	  height: 115px;
}

div.break-div-js{
	height:80px;
}

div.edit-perk-space{
    padding-right: 50px !important;
}

label.edit-perk-size{
    width: 220px !important;
}

.youtubeVideoIframe {
	width: 236%;
	height:206px;
	display:block;
}

img.deadlineInfo-img {
  padding-left: 144px;
}

img.videoInfo-img {
  padding-left: 438px;
}

img.pictureInfo-img {
  padding-left: 434px;
}

img.amountInfo-img {
  padding-top: 102px;
  padding-left: 0;
  margin-left: -25px;
}

img.amountInfoInd-img {
  padding-top: 102px;
  padding-left: 0;
  margin-left: -25px;
}

div.amount-popover .popover{
	width:700px;
}

div.deadline-popover .popover{
	margin-left:38%;
	width:700px;
}

div.video-popover .popover{
	margin-left:45%;
	width:800px;
}

div.image-popover .popover{
	margin-left:45%;
	width:700px;
}
