button.btnChargeContinue {
    width: 308px;
}

button.btnChargeContinue-md{
    width: 354px;
}

.projectTileCenter .fedu.thumbnail.grow.tile-pad{
    margin-left: auto;
    margin-right: auto;
}

.ostate{
	display:none;
}

.powerdbyPaypal img {
    max-width: 291px !important;
}

.fund-header{
    top:63px;
    background: transparent;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.campaignTile .thumbnail{
	padding:0;
}

#shippingInfoLoading{
	display:none;
}

.days-left-caption{
	position: absolute;
	width: 100px;
	height:27px;
	padding:4px;
	text-align: center;
	top: 0px;
	right: 0px;
	cursor: pointer;
	background-color: black;
	border: none;
	opacity: 0.7;
	filter: alpha(opacity = 60);
	color:#ffffff;
	font-family:Open Sans;
	font-weight:bolder;
	font-size:15px;
}

.amount-caption{
/* 	background: black; */
/* 	height:27px; */
	padding:4px;
	text-align:center;
	color:#ffffff;
	font-family:Open Sans;
	position:absolute;
	bottom:0;
	overflow:hidden;
	opacity: 0.7;
	filter: alpha(opacity=60);
	width:100%;
	font-weight:bolder;
	font-size:15px;
}

.ostate{
    display: none;
}

.col-transaction .bootstrap-select > .btn {
    width: 120px;
}

.col-transaction .bootstrap-select.btn-group .dropdown-menu {
    min-width: 116px;
}

.col-transaction div.bootstrap-select > button{
    background-color: #333 !important;
    color: white !important;
}

.col-transaction .bootstrap-select.btn-group .btn .filter-option{
    text-align:center !important;
}

div#checkoutgsp button.btn-default:focus{
	color: white;
	background-color: #333333;
	border-color: #333333;
}


.easyWizardSteps {
    list-style: none;
    width:100%;
    overflow:hidden;
    margin:0;
    padding:0;
    border: 1px solid #efefef;
    background-color: #efefef;
    margin-bottom:20px;
    box-shadow: 0px 0px 10px;
}
.easyWizardSteps li {
    font-size:16px;
    display:inline-block;
    padding:10px;
    color:#B0B1B3;
    margin-right:20px;
    font-weight: 600;
}
.easyWizardSteps li span {
    font-size:24px;
}
.easyWizardSteps li.current {
    color: #5A6771;
}
.easyWizardButtons {
	overflow:hidden;
	padding:10px;
}
.easyWizardButtons button, .easyWizardButtons .submit {
	cursor:pointer;
}
.easyWizardButtons .prev {
	float:left;
}
.easyWizardButtons .next, .easyWizardButtons .submit {
	float:right;
}
.shipping-heading {
    box-shadow: 2px 2px 8px rgba(83, 86, 83, 0.61);
}
.billing-panel.panel-primary {
	border-color: #fff;
}
.billing-panel .panel-title {
	font-size: 16px;
    font-weight: 600;
}
.billing-panel.panel-primary > .panel-heading {
    height: 46px;
    padding: 15px 15px;
}

/* .panel-primary.billing-panel { */
/* 	margin-bottom: 0px; */
/* } */

.citrusfundbody {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px 0px;
    padding: 5px;
    margin-bottom: 30px;
}
.eazywizard-bottom-margin {
	margin-bottom: 18px;
}

div.citrusfundbody .bootstrap-select > button,
div.citrusfundbody .bootstrap-select > button:hover,
div.citrusfundbody .bootstrap-select > button:active,
div.citrusfundbody .bootstrap-select > button:focus,
div.citrusfundbody .bootstrap-select.dropup > button,
div.citrusfundbody .open > .dropdown-toggle.btn-default {
    background-color: #5A6771 !important;
    color: #ffffff !important;
}

div.citrusfundbody .dropdown-menu.open {
    margin-left: -0.8%;
}
div.citrusStateDiv .dropdown-menu.open {
    margin-left: 0px !important;
}
div.citrusfundbody .dropdown-menu{
    overflow-x: hidden !important;
/*     overflow-y: auto !important; */
}

div.citrusfundbody .bootstrap-select.btn-group .dropdown-menu {
    height: 130px;
}

div.citrusfundbody .citrusCardType-column .bootstrap-select.btn-group .dropdown-menu {
	height: 85px;
}
.billing-panel .panel-body {
	padding-top: 30px;
}
.col-xsl-0  {
	padding-left: 0px;
}
div.citrusfundbody .btn.btn-info {
	box-shadow: 2px 2px 2px rgba(136, 136, 136, 0.88);
}

.margin_top {
	margin-top: 20px;
}

.contributionSettlement.btn-default {
    color: white;
    background-color: #005f84;
    border-color: #005f84;
}
.disburseContribution,
.contributionreleased,
.contributionSettlement {
	padding: 6px 28px;
	font-weight: 600;
	font-size: 13px;
}
.pannumberdiv {
	display: none;
}

#billingInformation{
	display:none;
}
#citrusCardDetails { 
	display:none;
}
.citrusStateDiv .btn:first-child {
	margin-left:0px !important;
}

.paymentErrorMsg {
	color: #f04124;
}

label.payer-label {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}
.wepay-rightcard-email .input-group-addon, 
.leftcard-column-amount .input-group-addon, 
.leftcard-column-cardnumber .input-group-addon {
    width: 40px;
    height: 36px;
    float: left;
}
#wepay-payment-details .leftcard-column-one,
#wepay-payment-details .wepay-rightcard-email {
    width: 50% !important;
    float: left;
}
#wepay-payment-details .wepay-rightcard-email .form-control {
    float: left;
    height: 36px;
    width: 89%;
}
#wepay-payment-details .leftcard-column-amount {
	width: 20%;
	float: left;
}
#wepay-payment-details .leftcard-column-amount .form-control {
    float: left;
    height: 36px;
    width: 72%;
}
#wepay-payment-details .leftcard-column-cardnumber, .wepay-rightcard-column {
	width: 40%;
	float: left;
}
#wepay-payment-details .leftcard-column-cardnumber .form-control {
    float: left;
    height: 36px;
    width: 85%;
}
#wepay-payment-details .leftcard-column-two {
	display: flex;
	width: 25% !important;
}
#wepay-payment-details .leftcard-column-three {
    display: flex;
    width: 22% !important;
}
#wepay-payment-details .leftcard-column-two .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn), .leftcard-column-three .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 72% !important;
    float: left;
}

#appChargeDetailsModal .modal-body {
	overflow: auto;
} 
.payeepayer-div #payerPayee {
	padding: 5px;
} 
.col-xs-lr-0 {
	padding-left : 0px !important;
	padding-right : 0px !important;
}
.col-xs-l-0 {
	padding-left : 0px !important;
}
.payeepayer-text {
	font-size: 12px;
	color: #01bbd2;
}
.payeepayer-div {
	margin-bottom: 5px;
}
.payerpayee_parent {
	width: 51% !important;
}
