@media only screen and (min-width: 1281px){
    .paypalVerification span {
        margin-left: 0 !important;
    }
    .helpdeskpadding {
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1280px){
    .helpdeskpadding {
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
	.whycrowderacol-md .col-md-10 {
        width: 79.333333% !important;
    }
    .whycrowderacol-md .col-md-2 {
        width: 20.666667% !important;
    }
    .whycrowderacol-md .whycdradivpadding {
	    margin-top: -25px !important;
    }
    .whycrowderacol-md .whycdradivpadding8 {
	    margin-top: -20px !important;
    }
    .whycrowderadiv3 {
        margin-top: -15px !important;
    }
    .helpdeskpadding {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px){
	.whycrowderacol-sm .col-sm-6 ,.whycrowderacol-sm .col-sm-12{
	    padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .whycrowderacol-md-12 .whycrowderadiv1 {
	    margin-top: 26px !important;
    }
    .whycrowderacol-md-12 .whycrowderadiv2 {
	    margin-top: 16px !important;
    }
    .wwhycrowderacol-md-12 .whycrowderadiv3 {
	    margin-top: -1px !important;
    }
    .whycrowderacol-md-12 .whycrowderadiv4 {
	    margin-top: -5px !important;
    }
    .whycrowderacol-md-12 .whycrowderadiv6 {
	    margin-top: -25px !important;
    }
    .whycrowderacol-md-12 .whycrowderadiv7 {
	    margin-top: -25px !important;
    }
    .whycrowderacol-md-12 .whycrowderadiv8 {
	    margin-top: -25px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	.whycrowderacol-sm .col-sm-6 ,.whycrowderacol-sm .col-sm-12{
	    padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .whycrowderacol-sm .whycdradivpadding2 {
	    margin-top: 26px !important;
    }
    .whycrowderacol-sm .whycdradivpadding3 {
	    margin-top: 4px !important;
    }
    .whycrowderacol-sm .whycdradivpadding4 {
	    margin-top: 10px !important;
    }
    .whycrowderacol-sm .whycdradivpadding6 {
	    margin-top: -15px !important;
    }
    .whycrowderacol-sm .whycdradivpadding7 {
	    margin-top: -15px !important;
    }
    .whycrowderacol-sm .whycdradivpadding8 {
	    margin-top: -10px !important;
    }
    .subheadingtext {
        font-weight: 600;
        padding-top: 5px !important;
    }
}

@media only screen and (min-width: 668px) and (max-width: 767px){
    .whycrowderacol-sm .col-xs-3 {
        width: 25% !important;
    }
    .whycrowderacol-sm .col-xs-9 {
        width: 75% !important;
    }
    .admindashboard {
        padding-left: 20% !important;
        padding-right: 20% !important;
    }
    .metricspadding {
        padding-left: 20% !important;
        padding-right: 20% !important;
    }
}

@media only screen and (min-width: 415px) and (max-width:767px){
    .paypalVerification span {
        margin-left: -3% !important;
    }
}

@media only screen and (min-width: 568px) and (max-width: 667px){
    .whycrowderacol-sm .col-xs-3 {
        width: 25% !important;
    }
    .whycrowderacol-sm .col-xs-9 {
        width: 75% !important;
    }
    .admindashboard {
        padding-left: 20% !important;
        padding-right: 20% !important;
    }
    .metricspadding {
        padding-left: 20% !important;
        padding-right: 20% !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 567px){
	.whycrowderacol-sm .col-xs-12 {
	    padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .whycrowderacol-sm .col-xs-3 {
        width: 25% !important;
    }
    .whycrowderacol-sm .col-xs-9 {
        width: 75% !important;
    }
    .admindashboard {
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
    .metricspadding {
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
}

@media only screen and (min-width: 468px) and (max-width: 479px){
	.whycrowderacol-sm.col-xs-12 {
	    padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .whycrowderacol-sm .col-xs-3 {
        width: 25% !important;
    }
    .whycrowderacol-sm .col-xs-9 {
        width: 75% !important;
    }
    .admindashboard {
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
    .metricspadding {
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
    .offline-contribution-pans.col-xs-12{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .edit-delete-fund .close {
        margin-left: 2px !important;
    }
}
@media only screen and (min-width: 385px) and (max-width: 467px){
	.whycrowderacol-sm .col-xs-12 {
	    padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .whycrowderacol-sm .col-xs-3 {
        width: 22% !important;
    }
    .whycrowderacol-sm .col-xs-9 {
        width: 78% !important;
    }
    .whycrowderatemplate {
	    padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .admindashboard {
        padding-left: 8% !important;
        padding-right: 8% !important;
    }
    .metricspadding {
        padding-left: 8% !important;
        padding-right: 8% !important;
    }
    .offline-contribution-pans.col-xs-12{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .edit-delete-fund .close {
        margin-left: 2px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 384px){
	.whycrowderacol-sm .col-xs-12 {
	    padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .whycrowderacol-sm .col-xs-3 {
        width: 30% !important;
    }
    .whycrowderacol-sm .col-xs-9 {
        width: 70% !important;
    }
    .whycrowderatemplate {
	    padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .admindashboard {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .offline-contribution-pans.col-xs-12{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .edit-delete-fund .close {
        margin-left: 2px !important;
    }
}
