@media only screen and (min-width: 1281px){
	.abt-positions-you{
	    left: 385px;
    }
    .sendEmailToContributors{
        left:75px;
    }
	.cr-tax-files{
        width:170px;
    }
	.col-add-tax-files {
	   width: 15%;
	}
	.showing-hashtags-desktop{
	   display:inline;
	}
	.showing-hashtags-tabs{
	   display:none;
	}
	.moretags-desktop{
	   display:block;
	   padding: 0;
	}
	.moretags-tabs{
	   display:none;
	}
    .paypalVerification span {
        margin-left: 0 !important;
    }
    .helpdeskpadding {
        padding-left: 15%;
        padding-right: 15%;
    }
    .col-videoUrl-textbox{
        padding-left:6%;
    }
    .createpage-img-panel{
        padding-left: 20px;
    }
    .paypalVerification span{
        margin-left: 0;
    }
    .pd-container {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .validate-show-div .icons-centering {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 285px !important;
    }
    .validate-show-div .amount-centering {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 285px !important;
    }
    span.cr-label-spend-matrix{
        width:12%;
    }
    .cr-impact-analysis{
         width:21% !important;
    }
    .cr-impact-guide{
         width:79% !important;
    }
    .cr-reasons-to-fund{
         width:20% !important;
    }
    .cr-reasons-guide{
         width:80% !important;
    }
    .cr-panel-body{
         margin-left:0px !important;
    }
    .ansText{
        width:50% !important;
        margin-top: 5px;
    }

    span.col-impact-text-one, span.col-impact-education-text-one{
        width:23%;
    }

    span.col-impact-text-two{
        width:15%;
    }

    span.col-impact-animals-text-two, span.col-impact-elderly-text-two{
        width:18%;
    }

    span.col-impact-arts-text-two{
        width:20%;
    }

    span.col-impact-community-text-two{
        width:21%;
    }
    
    span.col-impact-education-text-two{
        width:19%;
    }
    
    span.cr-impact-religion-cr{
        left:6px;
    }

    span.col-impact-elderly-text{
        width:12%;
    }

    .cr-panel-impact-analysis .form-group{
        margin-left: 0px;
    }

    .hashtags-padding-left{
        left:26%;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1280px){
    .helpdeskpadding {
        padding-left: 15%;
        padding-right: 15%;
    }
    .pd-container {
        width: 920px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
	.whycrowderacol-md .col-md-10 {
        width: 79.333333% !important;
    }
    .whycrowderacol-md .col-md-2 {
        width: 20.666667% !important;
    }
    .whycrowderacol-md .whycdradivpadding {
	    margin-top: -25px !important;
    }
    .whycrowderacol-md .whycdradivpadding8 {
	    margin-top: -20px !important;
    }
    .whycrowderadiv3 {
        margin-top: -15px !important;
    }
    .helpdeskpadding {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px){
	div.multiple-reason-btn2{
	    margin-top: -35px !important;
	}
	div.multiple-reason-btn1 {
        margin-top: -7px !important;
	}
	.whycrowderacol-sm .col-sm-6 ,.whycrowderacol-sm .col-sm-12{
	    padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .whycrowderacol-md-12 .whycrowderadiv1 {
	    margin-top: 26px !important;
    }
    .whycrowderacol-md-12 .whycrowderadiv2 {
	    margin-top: 16px !important;
    }
    .wwhycrowderacol-md-12 .whycrowderadiv3 {
	    margin-top: -1px !important;
    }
    .whycrowderacol-md-12 .whycrowderadiv4 {
	    margin-top: -5px !important;
    }
    .whycrowderacol-md-12 .whycrowderadiv6 {
	    margin-top: 0px !important;
    }
    .whycrowderacol-md-12 .whycrowderadiv7 {
	    margin-top: -25px !important;
    }
    .whycrowderacol-md-12 .whycrowderadiv8 {
	    margin-top: -25px !important;
    }
}

@media only screen and (min-width:851px){
    .desktop-video-play{
        display:block;
    }

    .tabs-video-play{
        display:none;
    }
}

@media only screen and (max-width:850px) and (min-width:768px){
    .embed-video-in-modal {
        height: 200px;
    }
    #embedTilemodal .modal-dialog.modal-embed-with-video{
        width:684px;
    }
    .margin-custom-left{
        margin-left:110px;
    }
    .lbl-width{
        margin-left:-9px;
    }
    .desktop-video-play{
        display:none;
    }
    .tabs-video-play{
        display:block;
    }
    .margin-md-left, .margin-md-left{
        margin-left:15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    div.col-sm-input-group{
       width: 21% !important;
    }
    div.whycrowderadiv{
        margin-bottom: 0px !important;
    }
	.whycrowderacol-sm .col-sm-6 ,.whycrowderacol-sm .col-sm-12{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .whycrowderacol-sm .whycdradivpadding2 {
	    margin-top: 26px !important;
    }
    .whycrowderacol-sm .whycdradivpadding3 {
	    margin-top: 4px !important;
    }
    .whycrowderacol-sm .whycdradivpadding4 {
	    margin-top: 10px !important;
    }
    .whycrowderacol-sm .whycdradivpadding6 {
	    margin-top: 0px !important;
    }
    .whycrowderacol-sm .whycdradivpadding7 {
	    margin-top: -7px !important;
    }
    .whycrowderacol-sm .whycdradivpadding8 {
	    margin-top: 5px !important;
    }
    .subheadingtext {
        font-weight: lighter;
        padding-top: 5px !important;
    }
}

@media only screen and (min-width: 641px) and (max-width: 799px){
    div.paypalVerification span {
        margin-left: -7%;
    }
}

@media only screen and (min-width: 415px) and (max-width: 640px){
    div.paypalVerification span {
        margin-left: -3%;
    }
    .form-group-termsOfUse {
        margin-left: -3px !important;
    }
    .paypalVerification {
        padding-left: 5px !important;
    }
    input.paypal-create {
         margin-left: -3%;
         width: 258px;
         margin-top: 3px;
    }
}

@media only screen and (min-width: 668px) and (max-width: 767px){
	.picker.modal-dialog {
        max-width: 550px !important;
    }
    .picker.modal-dialog-content.picker-dialog-content{
        max-width: 550px !important;
    }
    .whycrowderacol-sm .col-xs-3 {
        width: 25% !important;
    }
    .whycrowderacol-sm .col-xs-9 {
        width: 75% !important;
    }
    .admindashboard {
        padding-left: 20% !important;
        padding-right: 20% !important;
    }
    .metricspadding {
        padding-left: 20% !important;
        padding-right: 20% !important;
    }
}

@media only screen and (min-width: 500px) and (max-width: 767px){
    .modal-xs{
        width: 463px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (min-width: 568px) and (max-width: 667px){
	.picker.modal-dialog {
        max-width: 500px !important;
    }
    .picker.modal-dialog-content.picker-dialog-content{
        max-width: 500px !important;
    }
    .whycrowderacol-sm .col-xs-3 {
        width: 25% !important;
    }
    .whycrowderacol-sm .col-xs-9 {
        width: 75% !important;
    }
    .admindashboard {
        padding-left: 20% !important;
        padding-right: 20% !important;
    }
    .metricspadding {
        padding-left: 20% !important;
        padding-right: 20% !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 567px){
    #partner-third-header .navbar-header {
        width: 450px !important;
    }
	.picker.modal-dialog {
        max-width: 420px !important;
    }
    .picker.modal-dialog-content.picker-dialog-content{
        max-width: 420px !important;
    }
	.whycrowderacol-sm .col-xs-12 {
	    padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .whycrowderacol-sm .col-xs-3 {
        width: 25% !important;
    }
    .whycrowderacol-sm .col-xs-9 {
        width: 75% !important;
    }
    .admindashboard {
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
    .metricspadding {
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
}

@media only screen and (min-width: 468px) and (max-width: 479px){
    #partner-third-header .navbar-header {
        width: 400px !important;
    }
	.picker.modal-dialog {
        max-width: 400px !important;
    }
    .picker.modal-dialog-content.picker-dialog-content{
        max-width: 400px !important;
    }
	.whycrowderacol-sm.col-xs-12 {
	    padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .whycrowderacol-sm .col-xs-3 {
        width: 25% !important;
    }
    .whycrowderacol-sm .col-xs-9 {
        width: 75% !important;
    }
    .admindashboard {
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
    .metricspadding {
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
    .offline-contribution-pans.col-xs-12{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .edit-delete-fund .close {
        margin-left: 2px !important;
    }
    .currencyconvertor .col-md-4, .currencyconvertor .col-xs-8 {
        padding-left: 8px;
    }
}
@media only screen and (min-width: 385px) and (max-width: 467px){
    #partner-third-header .navbar-header {
        width: 350px !important;
    }
	.picker.modal-dialog {
        max-width: 320px !important;
    }
    .picker.modal-dialog-content.picker-dialog-content{
        max-width: 320px !important;
    }
	.whycrowderacol-sm .col-xs-12 {
	    padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .whycrowderacol-sm .col-xs-3 {
        width: 22% !important;
    }
    .whycrowderacol-sm .col-xs-9 {
        width: 78% !important;
    }
    .whycrowderatemplate {
	    padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .admindashboard {
        padding-left: 8% !important;
        padding-right: 8% !important;
    }
    .metricspadding {
        padding-left: 8% !important;
        padding-right: 8% !important;
    }
/*     .offline-contribution-pans.col-xs-12{ */
/*         padding-left: 0px !important; */
/*         padding-right: 0px !important; */
/*     } */
    .edit-delete-fund .close {
        margin-left: 2px !important;
    }
    .currencyconvertor .col-md-4, .currencyconvertor .col-xs-8 {
        padding-left: 8px;
    }
}

@media only screen and (min-width: 420px){
    .popoverClassMobManagePage{
        display : none;
    }
    .popoverClassManagePage{
        display:block;
    }
}

@media only screen and (max-width: 419px){
    .popoverClassMobManagePage{
        display : block;
    }
    .popoverClassManagePage{
        display:none;
    }

    .popoverClassMobManagePage .popover {
        left: 65px;
        top: 740px;
        width: 174px;
    }
    
    .modal-tile{
       width:315px;
       overflow:hidden;
    }
    
    .modal-body.only-tile-embed-modal{
        padding-top: 20px;
        padding-left: 0;
        padding-bottom: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width:442px){
    .menu-top {
        margin-left: -102px;
    }

    label.urlShortenLabel {
        width: 195px;
        font-size: 12px;
    }

    label.shareUrlLabel {
        width: 195px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 384px){
    #partner-third-header .navbar-header {
        width: 320px !important;
    }
	.picker.modal-dialog {
        max-width: 280px !important;
    }
    .picker.modal-dialog-content.picker-dialog-content{
        max-width: 280px !important;
    }
    .menu-top {
        margin-left: -131px;
    }
    .whycrowderacol-sm .col-xs-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .whycrowderacol-sm .col-xs-3 {
        width: 30% !important;
    }
    .whycrowderacol-sm .col-xs-9 {
        width: 70% !important;
    }
    .whycrowderatemplate {
	    padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .admindashboard {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
/*     .offline-contribution-pans.col-xs-12{ */
/*         padding-left: 0px !important; */
/*         padding-right: 0px !important; */
/*     } */
    .edit-delete-fund .close {
        margin-left: 2px !important;
    }
    .currencyconvertor .col-md-4, .currencyconvertor .col-xs-8 {
        padding-left: 8px;
    }
}
