@import url('https://fonts.googleapis.com/css?family=Assistant:400,800');
@import url('https://fonts.googleapis.com/css?family=Assistant:400,700|Open+Sans:700');
.reasonsToFund {
/*     border: 5px solid #f7f7f7; */
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
/*     background-color: #fff; */
/*     padding: 20px; */
}
.reasonspadding {
    padding: 5px;
    overflow: auto;
}
.reasonsToFund .badge1 {
    color: #01bbd3;
    font-family: open sans;
    font-size: 30px;
    font-weight: 900;
    padding: 0;
    top: 5px;
}
.col-plr-0 {
    padding-left: 0px;
    padding-right: 0px;
}
.col-plr-5 {
    padding-left: 5px;
    padding-right: 5px;
}
.col-p-5 {
    padding: 5px;
}
.impactassessment .panel-default {
    border: #f7f7f7;
    background-color: #f7f7f7;
    height: 90px;
    margin-top: -3px;
}

.impactassessment .panel-default p{
	color: #5a6771;
    font-weight: 900;
    font-family: sans-serif;
    font-size: 15px;
    height: 105px;
    margin-top: -3px
}
.impactassessment .panel-default p {
	font-weight: bold;
    font-size: 24px;
    word-wrap: break-word;
    font-family: Ubuntu Condensed;
    color: #222222;
    text-align: center;
    padding: 2px 10px 10px;
    line-height: 30px;
}
.show-impact .panel-default {
    background-color: #fff;
    border-left: medium none;
    border-top: medium none;
    height: 150px;
/*     margin-top: 1px; */
    padding: 15px;
    border-left: medium none;
    border-top: medium none;
}
.show-impact .show-assessment p {
    color: #727272;
    font-family: open sans;
    font-size: 14px;
}
.impactassessment .panel-body {
    padding: 5px;
}
.managecampaign-hashtag {
    
}
.campaign-bg-color{
	background-color: #f5f5f5;
}
a.show-web-address {
    text-decoration: none;
    padding-left: 9px;
    border-left: 1px solid #d4d4d4;
}
a.show-web-address:hover {
    color: #01bbd2;
    padding-left: 9px;
}
.show-web-address img{
    padding-right: 9px;
    margin-left: 30px;
}
.show-nonpft {
	background-color: #f5f5f5;
    color: #787878;
    font-family: open sans;
    font-size: 12px !important;
    padding-right: 30px;
}
.show-matrix-bg {
    background-color: #fff;
    border-bottom: 2px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
    padding: 22px;
}
.show-comments-section {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom: 2px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
}
a.show-campaigndetails-font {
    color: #333;
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.show-impact-assessment {
    color: rgba(0, 0, 0, 0.81);
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.show-impact {
    padding-top: 21px;
}
.show-perks-style-reasons {
    background-color: #fff;
    padding: 15px;
}
.show-tri-reasons-to-fund {
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.81);
    line-height:1;
}
.show-reasonsToFund {
   
/*     padding: 20px; */
}
.show-reasonsToFund .badge1 {
    color: #01bbd3;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 0;
    top: 15px;
}
.show-reasons-des {
    color: #727272;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    padding-top: 23px;
}
.show-reasons-fund-bgpadding{
	background-color: #fff;
    padding: 20px 15px;
}
.show-reasons {
    border-bottom: 2px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
    margin-top:22px;
}
.rewardsection {
    background-color: #fff;
    padding: 15px;
    border-bottom: 2px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
    margin-bottom:30px;
}
.show-tile-raised {
    width: 100%;
    color: #363636;
    font-family:  'Assistant', sans-serif;
    font-size: 14px;
}
.show-raised-amt {
	font-family:  'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 0.8;
}
.show-org-tile-padding {
    padding-bottom: 7px;
}
.show-progressbar {
    padding-top: 6px;
}
.show-goal-size {
    width: 38px;
}
.show-goal-padding {
    padding-top: 10px;
}
.show-timeday-size {
    width: 19px;
}
.show-time-day-padding {
    padding-left: 24px;
    padding-top: 11px;
}
.show-user-profile-hw{
	height: 58px;
    width: 75px;
}
.show-image-dp img {
    height: 57px;
    width: 75px;
}
.show-profile-padding {
    padding: 0;
}
.show-profile-imagewidth {
    width: 77px;
    padding: 0;
}
.show-org-profiletile {
    background-color: #f0f2f3;
    border-right: 2px solid #e7e7e7;
    height: 58px;
    overflow: hidden;
}
.show-contact-ofOwner{
	font-size: 12px;
	width: 184px;
	padding-left: 11px;
    padding-top: 3px;
}
.show-profile {
	font-family: 'Assistant', sans-serif;
    font-size: 12px;
    padding: 0;
/*     width: 65px; */
}
.show-org-name {
	font-family: 'Assistant', sans-serif;
    font-size: 12px;
    height: 34px;
    line-height: 14px;
/*     overflow: hidden; */
    padding: 0;
/*     width: 200px; */
    text-overflow: ellipsis; 
/*     white-space: nowrap; */
}
.show-lbl-orgname {
    padding-left: 14px;
    padding-top: 5px;
}
/* img.show-profile-imgs{ */
/*     left: 6px; */
/*     padding-left: 0; */
/*     padding-right: 0; */
/*     padding-top: 3px; */
/*     width: 19px; */
/* } */
.show-contact-profilefixes{
	 padding: 0;
}
.show-social-icons{
    padding-left: 180px;
}
.sh-mobperks {
    padding-top: 22px;
}
.show-spend-matrix-title {
	color: rgba(0, 0, 0, 0.81);
    font-family: 'Assistant', sans-serif;
    font-size: 25px;
}
.show-comments-title{
	color: rgba(0, 0, 0, 0.81);
    font-family: 'Assistant', sans-serif;
    font-size: 25px;
}
img.show-cmment-box-imgheight {
   width: 148%; 
}
.show-comment-profile-padding {
    padding: 0;
}
.show-padding-commentsbox{
    padding: 0;
    margin-bottom: 0;
    margin-top: 15px;
    height: 95px;
}
.show-all-padding {
	height:72px;
    padding-left: 30px;
    padding-right: 0;
}
textarea.show-textareawidth {
    height: 73px;
    width: 145%;
}
.show-all-padding span.help-block {
    margin-bottom: 0;
    margin-top: 0;
}
.show-attach-file {
    padding-left: 0;
    padding-top: 3px;
}
.show-btn-font, .show-btn-font:hover, .show-btn-font:focus {
	background-color:#01bbd3 ;
    border: medium none;
    color: #fff;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    font-weight: 900;
    outline: medium none;
}
.panel-bgColor{
    background-color: #fff;
    border-right: 2px solid #e7e7e7;
}
.show-funds-padding {
    padding-top: 10px;
}
.show-teams-padding {
    padding-top: 24px;
}
.show-join-our-team,
.show-join-our-team:hover,
.show-join-our-team:focus {
    background-color: #ffbf08;
    color: #fff;
    padding: 5px;
}
.show-title-jointeam {
    font-size: 30px;
}
.show-sub-titleJointeam {
    color: #000;
    font-size: 14px;
    font-weight: lighter;
}
.show-contact-teamtile span {
    padding-top: 14px;
}
.show-manageteamsize{
	background-color: #fff;
    left: 15px;
    margin-right: 13px;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 15px;
    width: 64%;
}
.show-widht-team {
    background-color: #fff;
    padding-top: 20px;
    width: 108.5%;
}
.show-manageteam-detailspage{
	padding-right: 0;
    width: 94.5%;
}
.show-teams-width{
    width: 97%;
}
.show-teamspage {
    padding-right: 0;
    width: 102%;
    background-color: #fff;
    /* margin-top: 15px; */
}
.show-team-number {
    font-family: open sans;
    font-size: 30px;
    font-weight: 900;
    padding-top: 12px;
    text-decoration: none;
}
.show-teamsnumber a{
    text-decoration: none;
    font-family: open sans;
    font-size: 30px;
    font-weight: 900;
}
.show-team-top {
    top: 10px;
}
.show-contributions-top {
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    left: 15px;
    width: 98%;
    border-bottom: 2px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
}
.show-page-totalteams {
    font-family: open sans;
    font-size: 30px;
    font-weight: 900;
}
.show-fundamt-tooltip {
    position: relative;
}
.show-text-cmt-tooltip {
    position: absolute;
    top: 50%;
    width: 80%;
    padding-left: 20px;
}
.show-left-cmtbox {
    left: 37px;
    padding-left: 14px;
}
.show-cmt-label {
    color: #686868;
    font-family: open sans;
    font-size: 18px;
    font-weight: 900;
}
.show-cmt-text {
    color: #5a6771;
    font-family: open sans;
}
.show-contributionpadding {
    padding-bottom: 14px;
}
.show-read-more-font {
    background-color: #fff;
    border-bottom: 2px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
    padding: 15px;
}
.sh-read-more-story,
.sh-read-less-story {
    font-size: 20px;
    font-weight: 900;
}
.sh-attach-btn {
	color: rgba(0, 0, 0, 0.81);
	font-family: 'Assistant', sans-serif;
	font-weight: 600;
    font-size: 12px;
    padding: 5px;
    width: 106px;
}
.sh-attach-file-icon{
    height: 19px; 
    width: 8px !important; 
    margin-right: 7px;
}
.location-icon {
    width: 17.5%;
    padding-top: 15px;
    left: 20px;
}
.telephone-icons {
    width: 17%;
    top: 17px;
    left: 19px;
}
.locationandtelephone {
    text-align: left;
    margin-left: 8%;
}
.show-label-msz {
    width: 54%;
}
.sh-campaignupdate {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px 0;
    box-shadow: 2px 2px 1px #e7e7e7;
}
.checkStory.read-more {
	font-size:14px;
	color:#727272;
	line-height:20px;
    margin-top: 25px;
    text-align:justify;
}
.comment-attach-img img{
	width:50px;
	height:50px;
}
.comment-thumb-div {
    float: left;
    height: 50px;
    margin: 1px 6px 6px 1px;
    position: relative;
    width: 50px;
}
.comment-deleteicon img {
    height: 10px;
    margin: 2px;
    position: absolute;
    right: -5px;
    top: 5px;
    width: 10px;
    z-index: 105;
}
.commentResultId{
	display:none;
}
.col-sm-6.comment-attach-img {
    padding: 0 !important;
}
.manage-impact {
    height: 101px !important;
}
.sh-mission-script {
    background-color: #f6bf0c;
/*     border-left: 2px solid #e7e7e7; */
/*     border-right: 2px solid #e7e7e7; */
    height: 52px;
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    overflow:hidden;
}
span.show-fb-height{
	padding: 10px;
	height: 56px;
}
.sh-mission-script-height{
	height: 55px;
}
.sh-mission-slogan {
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    line-height: 23px;
    overflow: hidden;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.sh-social-fbEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bannerSloganText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.fa-inr-block {
    display: inline !important;
    font-size: 25px !important;
}
.sh-width-control {
    padding: 0;
}
.mobile-mngcmpg-tags{
	background-color: white;
    margin-bottom: 10px;
    padding: 15px;
}
.gau-new-color {
 	color: rgba(0, 0, 0, 0.81);
 }
 
 .new-gau-width-details{
 	width: 682px;
 	padding-left: 0px;
 	padding-right: 0px;
 	margin-left: 15px;
 }
  .new-show-height{
    height: 200px;
    padding-left: 0px;
 }
 
 .raised-goal-toppadding{
    padding-top: 7px;
 }
 
 .new-show-gau-width{
 	width: 282px;
 	margin-left: 6px;
 	padding-left: 15px;
 	padding-right: 0px;

}

.rightBorder-logo{
	border-right: 1px solid #999;
	bottom: 11px;
    height: 51px;
    position: relative;
}

.new-nav-width{
	width: 682px;
}

.join-us{
    background-color: #f6bf0c;
    height: 52px;
    text-align: center;
  	margin-top: 0px;
    padding-top: 6px;
    padding-bottom:46px;
    overflow:hidden;
}

/* .manage-edit-delete-btn{ */
/* 	margin-right: -11px !important; */
/* } */

.managepage-campaign-title {
	margin-bottom: 20px;
}
