.show-team-button .dropdown-menu {
 	background-color: #ffffff !important;
	color: #ffffff !important;
    width:100%;
}
.show-team-button .dropdown-menu > li > a:hover,
.show-team-button .dropdown-menu > li > a:focus {
    color: #ffffff !important;
    text-decoration: none;
    background-color: #ff784f; /* change color of links in drop down here */
}
.show-team-button .dropdown-menu > .active > a, .nav-pills-manageteam .dropdown-menu > .active > a:focus {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	background-color: #333333 !important;
}
.show-team-button .dropdown-menu > .active > a:hover {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	background-color: #ff784f !important;
}

.nonverifiedUserList .close {
	float: none !important;
	margin-left: 0px !important;
}

.paypalVerification span {
    margin-left: -5% !important;
}
